<!DOCTYPE HTML>
<html>
  <head>
    <title>IP Address Check When Behind a Web Proxy</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="What is my IP Address for SSH when behind a Web Proxy" />
  </head>
  
  <body>
  <h1>What is my IP Address when behind a web proxy?</h1>
  <p>I frequently am on a corporate network that has a web proxy (or VPN'ed into it). Whenever I check my IP Address in order to add it to the whitelist on my Amazon AWS Security Group or Cisco firewall, I google "what is my ip address" and Google tells me. But that is the IP of the corporate web proxy NOT the ip address the firewall sees when I'm trying to SSH or RDP or MySQL, etc.</p>


  <p>Your request was on port: <%= request.port %>. <strong>Your IP Address is <span><%= request.ip %></span></strong></p>

  <p><a href="http://ipcheck.finne.us/">Check Port 80</a></p>
  <p><a href="http://ipcheck.finne.us:22/">Check SSH Port 22</a></p>
  <p><a href="http://ipcheck.finne.us:3306/">Check MySQL Port 3306</a></p>
  <p><a href="http://ipcheck.finne.us:3389/">Check RDP Port 3389</a></p>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43781070-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
